#110年在台港澳生人數

In [20]:
import pandas as pd
data = pd.read_csv('hkmacstudent.csv', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,學年度,學校代碼,學校名稱,等級,僑居地,在學學生人數_男,在學學生人數_女,新生,舊生,上學年度畢業生人數_男,上學年度畢業生人數_女,NaN,NaN
1,110,1,國立政治大學,博士,香港,6,1,4,3,0,0,NaN,NaN
2,110,1,國立政治大學,博士,澳門,4,0,1,3,0,0,NaN,NaN
3,110,1,國立政治大學,碩士,香港,34,30,32,32,4,6,NaN,NaN
4,110,1,國立政治大學,碩士,澳門,9,8,3,14,2,3,NaN,NaN