#110年在台港澳生人數

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('hkmacstudent.csv')
data.head()

,學年度,學校代碼,學校名稱,等級,僑居地,在學學生人數_男,在學學生人數_女,新生,舊生,上學年度畢業生人數_男,上學年度畢業生人數_女
0,110,0001,國立政治大學,博士,香港,6,1,4,3,0,0
1,110,0001,國立政治大學,博士,澳門,4,0,1,3,0,0
2,110,0001,國立政治大學,碩士,香港,34,30,32,32,4,6
3,110,0001,國立政治大學,碩士,澳門,9,8,3,14,2,3
4,110,0001,國立政治大學,學士,香港,36,50,20,66,5,5

# 1.110學年在台男學生在學人數合計為？